Repository wingedseraph/rest-client-app: changes, and which lefthook commands are due for each by the changed paths.
All: js, css

lefthook.yml:

pre-push:
  parallel: true
  commands:
    js:
      glob: "*.{ts,tsx}"
      run: biome check --error-on-warnings {staged_files} && biome format --write {staged_files} && jest --passWithNoTests && git add {staged_files}
      stage_fixed: true
    css:
      glob: "*.css"
      run: biome check --error-on-warnings {staged_files} && biome format --write {staged_files} && git add {staged_files}
      stage_fixed: true

pre-commit:
  parallel: true
  commands:
    js:
      glob: "*.{ts,tsx}"
      run: biome check {staged_files} && biome format --write {staged_files} && git add {staged_files}
      stage_fixed: true
    css:
     glob: "*.css"
     run: biome check {staged_files} && biome format --write {staged_files} && git add {staged_files}
     stage_fixed: true

commit-msg:
  parallel: true
  scripts:
    # Lint commit messages based by the conventional commits
    # https://www.conventionalcommits.org/en/v1.0.0/
    "commitlint.sh":
      runner: bash

chore(ui): polish footer styles
  src/widgets/layout/Footer/Footer.tsx
Due: js

feat: configure db integaretion
  firebase.js
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

fix: replace imports
  firebase.js
Due: none

fix(ui): footer add adaptive style
  package.json
  public/logo.webp
  src/app/globals.css
  src/widgets/layout/Footer/Footer.tsx
  src/widgets/layout/Header/Header.tsx
Due: js, css

fix: remove package-lock.json
  package-lock.json
Due: none

feat: add register and login forms
  .vscode/settings.json
  firebase.js
  messages/en.json
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/lib/errorHelper.ts
  src/lib/validation.ts
Due: js

feat: add register and login forms and provide validation
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/lib/validation.ts
Due: js

fix(ui): footer add links to all team-members
  src/widgets/layout/Footer/Footer.tsx
Due: js

chore(ui): polish header&footer
  src/app/globals.css
  src/widgets/layout/Footer/Footer.tsx
  src/widgets/layout/Header/Header.tsx
Due: js, css

fix(ui): remove wrong style for button css
  src/app/globals.css
Due: css

feat: rest-client page children
  src/app/[locale]/(rest-client)/rest-client/page.tsx
Due: js

feat: change rest-client page
  src/app/[locale]/(rest-client)/rest-client/page.tsx
Due: js

feat(client): implement header list&editor
  src/features/RequestForm/HeaderEditor.tsx
  src/features/RequestForm/HeaderList.tsx
Due: js

chore(ui): remove duplicate css
  src/features/RequestForm/HeaderEditor.tsx
Due: js

feat(client): implement server-endpoint to handle request
  src/app/api/request/fetch.ts
  src/app/api/request/route.ts
  src/app/api/request/schema.ts
Due: js

fix(ui): shadcn button import issue for netlify
  src/features/RequestForm/BodyEditor.tsx
  src/features/RequestForm/HeaderEditor.tsx
  src/features/RequestForm/HeaderList.tsx
  src/features/RequestForm/MethodUrl.tsx
Due: js

feat(restclient): implement RequestForm component
  src/features/RequestForm/RequestForm.tsx
Due: js

feat(client): implement body editor
  src/features/RequestForm/BodyEditor.tsx
Due: js

chore(ui): remove underline css from buttons
  src/features/RequestForm/BodyEditor.tsx
  src/features/RequestForm/HeaderEditor.tsx
  src/features/RequestForm/HeaderList.tsx
  src/features/RequestForm/MethodUrl.tsx
Due: js

chore(client): correct import response view
  src/features/RequestForm/ResponseViewer.tsx
Due: js

feat(client): implement input for method&URL
  src/features/RequestForm/MethodUrl.tsx
Due: js

feat(client): implement custom hook with all logic onSubmit request
  src/features/RequestForm/useHttpRequest.ts
Due: js

feat(restclient): implement ResponseView component
  src/features/RequestForm/ResponseViewer.tsx
Due: js

fix(client): add i18n
  messages/en.json
  messages/ru.json
  src/features/RequestForm/BodyEditor.tsx
  src/features/RequestForm/HeaderEditor.tsx
  src/features/RequestForm/HeaderList.tsx
  src/features/RequestForm/MethodUrl.tsx
  src/features/RequestForm/ResponseViewer.tsx
  src/features/RequestForm/useHttpRequest.ts
Due: js

fix(ui): header&footer polish font size (issue with rebase)
  src/widgets/layout/Footer/Footer.tsx
  src/widgets/layout/Header/Header.tsx
Due: js

fix(client): handle bad headers in request
  messages/en.json
  messages/ru.json
  src/features/RequestForm/ResponseViewer.tsx
  src/features/RequestForm/useHttpRequest.ts
Due: js

fix: add env file, separate auth logic and remake firebase to ts
  firebase.js
  firebase.ts
  messages/ru.json
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/lib/errorHelper.ts
  src/services/authService.ts
Due: js

fix(auth): output firebase errors to form & i18n that errors
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/lib/errorHelper.ts
  src/services/authService.ts
Due: js

chore: apply lint
  src/app/[locale]/(auth)/register/page.tsx
Due: js

feat(api): add env.example
  .env.example
  .gitignore
Due: none

fix(i18n): rewrite default to unknown error
  messages/en.json
  messages/ru.json
Due: none

fix(i18n): better name-password phrases
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
Due: js

fix(style): tailwind classes input email
  src/app/[locale]/(auth)/register/page.tsx
Due: js

fix(i18n): change aliases for form and firebase
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
Due: js

fix: move firebase client file to @/lib/firebase/
  src/lib/firebase/client.ts
  src/services/authService.ts
Due: js

fix(i18n): use Link/useRouter wrapper from @/i18n/navigation
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
Due: js

fix(i18n): apply lint to config after merge
  messages/en.json
  messages/ru.json
Due: none

fix: replace intl messages
  messages/en.json
  messages/ru.json
Due: none

feat(i18n): add variables intl
  messages/en.json
  messages/ru.json
Due: none

feat(ui): add spinner(loading) component
  src/shared/ui/Spinner/spinner.tsx
Due: js
