Repository wingedseraph/rest-client-app: changes, and which lefthook commands are due for each by the changed paths.
All: js, css

js:
  run: biome check {staged_files} && biome format --write {staged_files} && git add {staged_files}
  stage_fixed: true

css:
  run: biome check {staged_files} && biome format --write {staged_files} && git add {staged_files}
  stage_fixed: true

feat: add commitlint script for lefthook
  .commitlint
  .lefthook/commit-msg/commitlint.sh
  lefthook.yml
Due: none

chore: apply execute mode for commitlint script
  .lefthook/commit-msg/commitlint.sh
Due: none

chore: remove unused config for deleted dependency
  commitlint.config.js
Due: none

feat: add check and assign workflow
  .github/workflows/assigner.yml
  .github/workflows/check.yml
  package.json
  pnpm-lock.yaml
Due: none

fix: add --passWithNoTests to return 0 if no tests at all
  .github/workflows/check.yml
Due: none

fix: add distDir for auto-deploy vercel
  next.config.ts
Due: js

chore(config): update next config with next-intl
  next.config.ts
Due: js

chore(config): add pnpm exec command for scripts
  lefthook.yml
Due: none

chore: add next-intl to project
  package.json
  pnpm-lock.yaml
Due: none

chore: add vscode config ignore
  .gitignore
Due: none

chore(config): add autofix for useSortedClasses rule
  biome.json
Due: none

feat: add next-intl config files
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/middleware.ts
Due: js

chore(config): add formatter rules for js
  biome.json
Due: none

feat: add translations for en and ru languages
  messages/en.json
  messages/ru.json
Due: none

feat: update root layout with locale
  src/app/[locale]/layout.tsx
Due: js

feat: add new root layout, rename locale layout
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
Due: js

feat: add global not found
  src/app/not-found.tsx
Due: js

feat: add not found with locale
  src/app/[locale]/not-found.tsx
Due: js

feat: add root page with redirect to en locale
  src/app/page.tsx
Due: js

feat: add providers wrapper
  src/app/providers.tsx
Due: js

feat: add redirect to not found for all undefined routes
  src/app/[locale]/[...rest]/page.tsx
Due: js

feat: add test i18n for Home page
  src/app/[locale]/page.tsx
Due: js

feat: add base routes
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/app/[locale]/(rest-client)/history/page.tsx
  src/app/[locale]/(rest-client)/rest-client/page.tsx
  src/app/[locale]/(rest-client)/variables/page.tsx
Due: js

style: fix formatting to single quotes
  jest.config.ts
  next.config.ts
  postcss.config.mjs
  src/components/ui/button.tsx
  src/lib/utils.ts
Due: js

chore(config): add verification of all files in the pre-push hook
  lefthook.yml
Due: none

chore: remove vscode ignore, add vscode config
  .gitignore
  .vscode/settings.json
Due: none

chore(config): add path configs for imports
  .vscode/settings.json
  tsconfig.json
Due: none

style: update imports
  src/app/[locale]/layout.tsx
  src/app/[locale]/not-found.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/middleware.ts
Due: js

chore(config): add app path for imports
  biome.json
  tsconfig.json
Due: none

chore(config): change rule for semicolons
  biome.json
Due: none

style: add semicolons
  jest.config.ts
  next.config.ts
  postcss.config.mjs
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/app/[locale]/(rest-client)/history/page.tsx
  src/app/[locale]/(rest-client)/rest-client/page.tsx
  src/app/[locale]/(rest-client)/variables/page.tsx
  src/app/[locale]/[...rest]/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/components/ui/button.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/lib/utils.ts
  src/middleware.ts
Due: js

feat(i18n): add new translation words for both languages
  messages/en.json
  messages/ru.json
Due: none

feat(hooks): add custoom hook for dynamic sticky header
  src/shared/hooks/useScroll.ts
Due: js

feat(ui): add styles for entire project
  src/app/globals.css
Due: css

feat(component): add LocaleSwitcher link
  src/features/Locale/LocaleSwitcher.tsx
Due: js

feat(ui): add header&footer layout
  public/logo.webp
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/shared/ui/button.tsx
  src/widgets/layout/Footer/Footer.tsx
  src/widgets/layout/Header/Header.tsx
Due: js

chore(config): remove unused commitlint config, lefthook glob commands src/**/*
  .commitlint
  lefthook.yml
Due: none

chore(ui): change text-white to text-background
  src/app/[locale]/not-found.tsx
Due: js

chore(config): add fixall code action for biome vscode
  .vscode/settings.json
Due: none

feat(i18n): add translation for footer
  messages/en.json
  messages/ru.json
  src/widgets/layout/Footer/Footer.tsx
Due: js

Path conditions:
  js: any of: *.{ts,tsx}
  css: any of: *.css
